apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-quarkus-169273650
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-quarkus-169273650
    app.kubernetes.io/part-of: test-app-169273650
  name: java-quarkus-169273650
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: java-quarkus-169273650
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: java-quarkus-169273650
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/jeff-phillips-18-tenant/test-app-169273650/java-quarkus-169273650@sha256:4b14e35ecd5c3a35d6eacbbccdd06cabe623e0d53e38dd02cfbab85f5577f0e8
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
